*{ 
   margin: 0;
   padding: 0;

}
.cabecalho{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 14%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola{
    background-color: #3870FF;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-texto-um{
    text-align: center;
    font-size: 22px;
}
.escola-titulo{
    text-align: center;
    font-size: 28px;
}
.escola-texto-dois{
    text-align: center;
    font-size: 22px;

}
.escola-texto-tres{
    text-align: center;
    font-size: 22px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.imagem-funcionario{
    width: 14%;
}
.imagem-zap{
    width: 40px;
}
.imagem-graos{
    width: 40px;
}
.imagem-boca{
    width: 40px;
}